<% content_for :html_header do -%>
	<title>メイドめーるについて</title>
<% end -%>

<% content_for :eyecatch do -%>
<% end -%>

<div class="article">
<%= image_tag("title_about.png",{:size=>"435x50",:class=>"title",:alt=>"メイドめーるについて"}) %>
<p class="main_text">
晩御飯を食べながら、「あーっ！今日歯医者予約してたのにっ！」って思い出すことありませんか?<br />
<br />
えらい人みたいに秘書がついてくれて、「今日の予定はこのようになっております」って教えてくれたらいいのに。<br />
<br />
メイドめーるは、秘書の代わりに、かわいいメイドさんがあなたの予定をお知らせしてくれます。予定だけでなく、雨が降りそうな日は天気をお知らせしてくれたり、ほっとする一言をかけてくれることも。<br />
<br />
あなたも、メイドさんのいる生活を体験してみませんか?<br />
</p>
</div>

<div class="article">
<%= image_tag("title_howto.png",{:size=>"139x50",:class=>"title",:alt=>"使い方"}) %>
<p class="main_text">
メイドめーるは、Googleカレンダーというサービスのカレンダーを利用します。残念ながら、 Googleカレンダーのアカウントを持っていないと使うことができないですが、とってもいいサービスですので、ぜひ試してみてください。
</p>
<p class="main_text">
ユーザー登録すると、メイドさんが毎日メールを送ってきてくれます。朝の目覚ましに使うもよし、電車の中で今日のスケジュールを確認するもよし、メイドさんのいる生活を堪能してください。<br />
<br />
メイドさんから届いたメールに返信すると、新しい予定を追加することもできます。特に決まった書き方でなくても、「○月○ 日に横浜でデート」という具合に、メイドさんに話しかけるようにメールしてくださいね。<br />
</p>
</div>
<div class="article">
<%= image_tag("title_developer.png",{:size=>"266x50",:class=>"title",:alt=>"開発者について"}) %><BR>
<%= image_tag("mogya.gif",{:size=>"42x42",:alt=>"もぎゃ"}) %>
<p class="main_text">
古川大輔。フリーランスのエンジニア。<a href="http://blog.mogya.com/" target="_blank">ブログはこちら</a>。<br />
<br />
残念ながら現時点で自宅にメイドさんはおりませんが、メイドさんをやとえるくらいのお金持ちになりたいものだと思っております。<br />
<br />
「会社で使えるように、執事メールを作って欲しい」「こんな事はできないの？」といった開発案件もお伺いしておりますので、問い合わせ からお気軽にお声がけくださいませ。<br />
</p>
</div>

<div class="article">
<%= image_tag("title_thanks.png",{:size=>"366x50",:class=>"title",:alt=>"Special Thanks to"}) %>
<p class="main_text">
ユーザーさんから送ってきていただいたメールの解析には、<a href="http://api.emetadata.net/intro">Mextractr WebAPI</a>を利用しております。そもそもメイドめーるは、このWebAPIを見たことから始まりました。
</p>
<p class="main_text">
メイドさんが毎日チェックする天気予報は、 <a href="http://weather.livedoor.com/weather_hacks/webservice.html">livedoor 天気情報</a> から取得しております。安定してデータをとってこれる安定したサービスを提供していただけて感謝しております。
</p>
<p class="main_text">
とてもかわいいメイドさんのイラストは、<a href="http://www.poipoi.com/yakko/index.html">夢夢色TOWN</a> で提供していただいている素材を加工したものです。とても使いやすい利用条件で素材を提供していただけて、大変感謝しております。
</p>
<p class="main_text">
およそ一ヶ月間、ボクがメイド喫茶のホームページを見ていても嫌な顔一つせずに手伝ってくれた妻に感謝します。そのうち、海辺の広いおうちに引っ越そうね。
</p>
<p class="main_text">
This service is working on <a href="http://www.rubyonrails.org/">Ruby on rails</a>,<a href="http://www.lighttpd.net/">lighttpd</a>,<a href="http://www.sqlite.org/">SQLite</a> and <a href="http://www.centos.org/">CentOS</a>. Thanks for great softwares!
</p>
</div>
