<p>
  <b>City:</b>
  <%=h @weather.city_id %>
</p>

<p>
  <b>Rss date:</b>
  <%=h @weather.rss_date.strftime("%Y/%m/%d %H:%M:%S") %>
</p>

<p>
  <b>Weather:</b>
  <%=h @weather.weather %>
</p>

<p>
  <b>High temperature:</b>
  <%=h @weather.high_temperature %>
</p>

<p>
  <b>Low temperature:</b>
  <%=h @weather.low_temperature %>
</p>

<p>
  <b>Created at:</b>
  <%=h @weather.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @weather.updated_at.strftime("%Y/%m/%d %H:%M:%S") %>
</p>


<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
